---
layout: base.njk
---

<main class="post-container">
    <div class="post-header">
        <h1>{{ title }}</h1>
    </div>
    
    <div class="post-content">
        {{ content | safe }}
    </div>
</main>
